---
import BlogLayout from "../../layouts/BlogLayout.astro";
---

<BlogLayout>
  <div>
    <div>
      <h1 class="text-3xl font-bold text-center mt-10 text-green-700 uppercase">
        SLOT IN ASTRO ( INJECT CHILD CONTENT) 😎
      </h1>
      <h2 class="text-center mt-2 font-semibold text-lg">
        <strong class="text-pink-500">Meow! 😸</strong> Greetings, dear human! I'm
        your virtual feline friend, here to whisker <br /> you away on a delightful
        journey through the world of conversation. <br /> With my purrfectly charming
        personality and whiskers full of wisdom.
      </h2>
    </div>
  </div>
</BlogLayout>
