/* html {
    background-color: #f1f5f9;
    font-family: sans-serif;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

.description {
    font-size: larger;
    color: lightskyblue;
    font-weight: 700;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} */

/* Hamburger Button Style */
/* nav styles */

.hamburger {
  padding-right: 20px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 90%;
}

.hamburger .line {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 5px;
  background-color: palevioletred;
}

.nav-links {
  display: none;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
  background-color: darkslateblue;
  color: white;
  width: 100px;
}

.expanded {
  display: block;
}

@media screen and (min-width: 636px) {
  .nav-links {
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }
  /*If the min-width is not 500px then hamburger unvisible */
  .hamburger {
    display: none;
  }
}
