---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div>
    <h1 class="text-3xl font-bold text-center mt-10 text-green-700 uppercase">
      SLOT IN ASTRO ( INJECT CHILD CONTENT) 😎
    </h1>
    <h2 class="text-center mt-2 font-semibold text-lg">
      My awesome blog subtitle
    </h2>
  </div>
</BaseLayout>
