---
// import Layout from "../layouts/Layout.astro";
// import Card from "../components/Card.astro";
import MyComponent from "../MyReactComponent/MyReactComponent";
import PassProps from "../MyReactComponent/PassProps";
import MyHeader from "../MyReactComponent/MyHeader";
---

<!-- Passing Children JS component to Framework Components --><!-- Children word have meaning to Astro -->
<MyHeader client:load>
  <h2 slot="title">ASTRO</h2>
  <p slot="subTitle">THIS IS FROM CHILDREN</p>
  <ul slot="socialLinks">
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Instagram</a></li>
    <li><a href="#">Twitter</a></li>
  </ul>
</MyHeader>

<html>
  <body>
    <h1 class="text-3xl font-semibold text-center mt-10">
      Use React Components Directly in Astro!
    </h1>
    <!-- COMPONENT SHOULD HAVE CLIENT -->
    <MyComponent client:load />
    <!-- PASSING A PROPS -->
    <PassProps name={"LENG (^__^)"} />
  </body>
</html>
