---
import MyComponent from "../MyReactComponent/MyReactComponent";
import PassProps from "../MyReactComponent/PassProps";
import Navigation from "../myComponents/Navigation.astro";
import Footer from "../myComponents/Footer.astro";
const pageTitle = "Homepage";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Navigation />

    <h1 class="text-3xl font-bold text-center mt-10 text-orange-400 uppercase">
      Use React Components Directly in Astro!
    </h1>
    <!-- COMPONENT SHOULD HAVE CLIENT -->
    <MyComponent client:visible />
    <!-- PASSING A PROPS INTO ASTRO FILE -->
    <PassProps username={"Leng"} age={22} isCute={true} />

    <Footer />
  </body>
</html>
