---
import "../styles/global.css";
import { HamburgerToggle } from "../react/Toggle.tsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="mx-auto">
      <header class="bg-violet-50 flex justify-center h-20 nav-header">
        <HamburgerToggle client:load />

        <nav class="uppercase hidden sm:flex gap-10">
          <div class="nav-links mt-3">
            <a class="text-xl font-bold underline text-blue-70" href="/">
              Home
            </a>
            <a
              class="text-xl font-bold underline text-green-600"
              href="/webpages/about"
            >
              About
            </a>
            <a
              class="text-xl font-bold underline text-purple-600"
              href="/webpages/blog"
            >
              Blog
            </a>
          </div>
        </nav>
      </header>
    </div>
  </body>
</html>
