---
import "../styles/Global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="mx-auto">
      <header
        class="bg-pink-50 sm:bg-violet-50 flex justify-center py-0 sm:py-5 nav-header"
      >
        <nav class="uppercase flex gap-10">
          <div class="nav-links">
            <a class="text-xl font-bold underline text-blue-70" href="/">
              Home
            </a>
            <a
              class="text-xl font-bold underline text-green-600"
              href="/webpages/about"
            >
              About
            </a>
            <a
              class="text-xl font-bold underline text-purple-600"
              href="/webpages/blog"
            >
              Blog
            </a>
          </div>
        </nav>
      </header>
    </div>
  </body>
</html>
