---
import Links from "./Links.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <script
      src="https://kit.fontawesome.com/018487711e.js"
      crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="">
      <ul class="flex justify-items-end gap-16">
        <li>
          <i class="fa-brands fa-facebook text-2xl text-blue-700"></i>
          <a class="font-semibold" href="www.facebook.com"
            ><Links platform="Facebook" username="Leng" /></a
          >
        </li>

        <li>
          <i class="fa-brands fa-square-instagram text-2xl text-pink-500"></i>
          <a class="font-semibold" href="www.instagram.com"
            ><Links platform="Instagram" username="Leng" /></a
          >
        </li>

        <li>
          <i class="fa-brands fa-twitter text-2xl text-blue-500"></i>
          <a class="font-semibold" href="www.tweeter.com"
            ><Links platform="Tweeter" username="Leng" /></a
          >
        </li>
      </ul>
    </div>
  </body>
</html>
