---
import Socmeds from "./Socmeds.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="flex bg-pink-100 py-5 justify-center">
      <div class="flex gap-10">
        <a
          slot="
      title"
          class="text-xl font-bold underline text-blue-700"
          href="/"
        >
          Home
        </a>
        <a
          slot="
      title"
          class="text-xl font-bold underline text-green-600"
          href="/webpages/about"
        >
          About
        </a>
        <a
          slot="
      title"
          class="text-xl font-bold underline text-purple-600"
          href="/webpages/blog"
        >
          Blog
        </a>
      </div>
    </div>
  </body>
</html>
